@charset "UTF-8";
@namespace url("http://www.w3.org/1999/xhtml");

body {
	text-align: center;
}

ul {
	list-style: none;
	padding: unset;
}

a[rel~="external"] {
	font-size: 2em;
	font-weight: bold;
}
